extends layout

block content
  // Begin slider
  .slider-default.bannerslider
    .hrv-banner-container
      .hrvslider
        ul.slides
          li
            a.hrv-url(href='/collections/dong-ho-nam-rolex')
              img.img-responsive(src='/images/theme-default/slideshow_1.jpg?v=90', alt='Thời trang nam')
            #hrv-banner-caption1.hrv-caption.hrv-banner-caption
              .container
                .hrv-caption-inner
                  .hrv-banner-content.slider-1
                    h2.hrv-title1 &Dstrok;&#x1EB3;ng c&#x1EA5;p v&#x1EC1; th&#x1B0;&#x1A1;ng hi&#x1EC7;u
                    h3.hrv-title2 &Dstrok;&#x1ED2;NG H&#x1ED2; ROLEX
                    a.hrv-url(href='/collections/dong-ho-nam-rolex') Xem ngay
          li
            a.hrv-url(href='/collections/dong-ho-nam-tissot')
              img.img-responsive(src='/images/theme-default/slideshow_2.jpg?v=90', alt='')
            #hrv-banner-caption2.hrv-caption.hrv-banner-caption
              .container
                .hrv-caption-inner
                  .hrv-banner-content.slider-2
                    h2.hrv-title1 Tinh t&#x1EBF; sang tr&#x1ECD;ng
                    h3.hrv-title2 &Dstrok;&#x1ED2;NG H&#x1ED2; TISSOT
                    a.hrv-url(href='/collections/dong-ho-nam-tissot') Xem ngay
          li
            a.hrv-url(href='/collections/cap-dong-ho-tinh-yeu')
              img.img-responsive(src='/images/theme-default/slideshow_3.jpg?v=90', alt='')
            #hrv-banner-caption3.hrv-caption.hrv-banner-caption
              .container
                .hrv-caption-inner
                  .hrv-banner-content.slider-3
                    h2.hrv-title1 M&oacute;n qu&agrave; h&#x1EA1;nh ph&uacute;c
                    h3.hrv-title2 Ti&#x1EBF;t ki&#x1EC7;m &dstrok;&#x1EBF;n 50%
                    a.hrv-url(href='/collections/cap-dong-ho-tinh-yeu') Xem ngay
  // End slider

  section#content.clearfix.container
  .row
    .col-md-12.col-sm-12.col-xs-12
      // Content
      .main-content
        // Sản phẩm trang chủ
        .product-list.clearfix
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              aside.styled_header.use_icon
                h2 What hot
                //SAN-PHAM-BAN-CHAY
                h3 SẢN PHẨM BÁN CHẠY
                span.icon
                  img(src='/images/theme-default//icon_featured.png?v=90', alt='')
          // Product loop
          .row.content-product-list.products-resize
            .col-md-3.col-sm-6.col-xs-6.pro-loop
              .product-block.product-resize
                .product-img.image-resize.view.view-third
                  .product-sale
                    span
                      label.sale-lb - 
                      |  29%
                  a(href='/products/dong-ho-nam-skmei-kim-xanh-duong', title='ĐỒNG HỒ NAM SKMEI KIM XANH DƯƠNG')
                    img.first-image.has-img(alt=' ĐỒNG HỒ NAM SKMEI KIM XANH DƯƠNG ', src='/images/product/1_e0ed7c0240734782a8268793dce0b9b8_large.jpg')
                    img.second-image(src='/images/product/2_85fc5908867e488da92b768cb240477d_large.jpg', alt=' ĐỒNG HỒ NAM SKMEI KIM XANH DƯƠNG ')
                  .actionss
                    .btn-cart-products
                      a(href='xemgiohang.html')
                        i.fa.fa-shopping-bag(aria-hidden='true')
                    .view-details
                      a.view-detail(href='chitietsanpham.html')
                        span
                          i.fa.fa-clone  
                    .btn-quickview-products
                      a.quickview(href='javascript:void(0);', data-handle='/products/dong-ho-nam-skmei-kim-xanh-duong')
                        i.fa.fa-eye
                .product-detail.clearfix
                  // sử dụng pull-left
                  h3.pro-name
                    a(href='/products/dong-ho-nam-skmei-kim-xanh-duong', title='ĐỒNG HỒ NAM SKMEI KIM XANH DƯƠNG') &Dstrok;&#x1ED2;NG H&#x1ED2; NAM SKMEI KIM XANH D&#x1AF;&#x1A0;NG 
                  .pro-prices
                    p.pro-price 499,000&#x20AB;
                    p.pro-price-del.text-left
                      del.compare-price 700,000&#x20AB;
            .col-md-3.col-sm-6.col-xs-6.pro-loop
              .product-block.product-resize
                .product-img.image-resize.view.view-third
                  .product-sale
                    span
                      label.sale-lb - 
                      |  33%
                  a(href='/products/dong-ho-nam-tevise-1952-chay-co-cuc-chat', title='ĐỒNG HỒ NAM TEVISE 1952 CHẠY CƠ CỰC CHẤT')
                    img.first-image.has-img(alt=' ĐỒNG HỒ NAM TEVISE 1952 CHẠY CƠ CỰC CHẤT ', src='/images/product/7_0590d26379fb4da3ba8d9b57564ee6b0_large.jpg')
                    img.second-image(src='/images/product/10_large.jpg', alt=' ĐỒNG HỒ NAM TEVISE 1952 CHẠY CƠ CỰC CHẤT ')
                  .actionss
                    .btn-cart-products
                      a(href='javascript:void(0);', onclick='add_item_show_modalCart(1012006173)')
                        i.fa.fa-shopping-bag(aria-hidden='true')
                    .view-details
                      a.view-detail(href='/products/dong-ho-nam-tevise-1952-chay-co-cuc-chat')
                        span
                          i.fa.fa-clone  
                    .btn-quickview-products
                      a.quickview(href='javascript:void(0);', data-handle='/products/dong-ho-nam-tevise-1952-chay-co-cuc-chat')
                        i.fa.fa-eye
                .product-detail.clearfix
                  // sử dụng pull-right
                  h3.pro-name
                    a(href='/products/dong-ho-nam-tevise-1952-chay-co-cuc-chat', title='ĐỒNG HỒ NAM TEVISE 1952 CHẠY CƠ CỰC CHẤT') &Dstrok;&#x1ED2;NG H&#x1ED2; NAM TEVISE 1952 CH&#x1EA0;Y C&#x1A0; C&#x1EF0;C CH&#x1EA4;T 
                  .pro-prices
                    p.pro-price 800,000&#x20AB;
                    p.pro-price-del.text-left
                      del.compare-price 1,200,000&#x20AB;
            .col-md-3.col-sm-6.col-xs-6.pro-loop
              .product-block.product-resize
                .product-img.image-resize.view.view-third
                  .product-sale
                    span
                      label.sale-lb - 
                      |  33%
                  a(href='/products/dong-ho-nam-tevise-chay-co-mat-cham-rong-cuc-sang', title='ĐỒNG HỒ NAM TEVISE CHẠY CƠ MẶT CHẠM RỘNG CỰC SANG.')
                    img.first-image.has-img(alt=' ĐỒNG HỒ NAM TEVISE CHẠY CƠ MẶT CHẠM RỘNG CỰC SANG. ', src='/images/product/1_ce1a513f5b4e432fa372126291449cac_large.jpg')
                    img.second-image(src='/images/product/4_4f633974980d4c87b3652a202a3f1f38_large.jpg', alt=' ĐỒNG HỒ NAM TEVISE CHẠY CƠ MẶT CHẠM RỘNG CỰC SANG. ')
                  .actionss
                    .btn-cart-products
                      a(href='javascript:void(0);', onclick='add_item_show_modalCart(1012006066)')
                        i.fa.fa-shopping-bag(aria-hidden='true')
                    .view-details
                      a.view-detail(href='/products/dong-ho-nam-tevise-chay-co-mat-cham-rong-cuc-sang')
                        span
                          i.fa.fa-clone  
                    .btn-quickview-products
                      a.quickview(href='javascript:void(0);', data-handle='/products/dong-ho-nam-tevise-chay-co-mat-cham-rong-cuc-sang')
                        i.fa.fa-eye
                .product-detail.clearfix
                  // sử dụng pull-left
                  h3.pro-name
                    a(href='/products/dong-ho-nam-tevise-chay-co-mat-cham-rong-cuc-sang', title='ĐỒNG HỒ NAM TEVISE CHẠY CƠ MẶT CHẠM RỘNG CỰC SANG.') &Dstrok;&#x1ED2;NG H&#x1ED2; NAM TEVISE CH&#x1EA0;Y C&#x1A0; M&#x1EB6;T CH&#x1EA0;M R&#x1ED8;NG C&#x1EF0;C SANG. 
                  .pro-prices
                    p.pro-price 1,200,000&#x20AB;
                    p.pro-price-del.text-left
                      del.compare-price 1,800,000&#x20AB;
            .col-md-3.col-sm-6.col-xs-6.pro-loop
              .product-block.product-resize
                .product-img.image-resize.view.view-third
                  .product-sale
                    span
                      label.sale-lb - 
                      |  33%
                  a(href='/products/dong-ho-nam-tevise-chay-co-mat-cham-rong-cuc-sang-1', title='ĐỒNG HỒ NAM TEVISE CHẠY CƠ MẶT CHẠM RỘNG CỰC SANG.')
                    img.first-image.has-img(alt=' ĐỒNG HỒ NAM TEVISE CHẠY CƠ MẶT CHẠM RỘNG CỰC SANG. ', src='/images/product/582a59a31d974d1dc5b1fec7-3-original_large.jpg')
                    img.second-image(src='/images/product/58a8390735d131532b2a8cf4-6-original_large.jpg', alt=' ĐỒNG HỒ NAM TEVISE CHẠY CƠ MẶT CHẠM RỘNG CỰC SANG. ')
                  .actionss
                    .btn-cart-products
                      a(href='javascript:void(0);', onclick='add_item_show_modalCart(1012030907)')
                        i.fa.fa-shopping-bag(aria-hidden='true')
                    .view-details
                      a.view-detail(href='/products/dong-ho-nam-tevise-chay-co-mat-cham-rong-cuc-sang-1')
                        span
                          i.fa.fa-clone  
                    .btn-quickview-products
                      a.quickview(href='javascript:void(0);', data-handle='/products/dong-ho-nam-tevise-chay-co-mat-cham-rong-cuc-sang-1')
                        i.fa.fa-eye
                .product-detail.clearfix
                  // sử dụng pull-right
                  h3.pro-name
                    a(href='/products/dong-ho-nam-tevise-chay-co-mat-cham-rong-cuc-sang-1', title='ĐỒNG HỒ NAM TEVISE CHẠY CƠ MẶT CHẠM RỘNG CỰC SANG.') &Dstrok;&#x1ED2;NG H&#x1ED2; NAM TEVISE CH&#x1EA0;Y C&#x1A0; M&#x1EB6;T CH&#x1EA0;M R&#x1ED8;NG C&#x1EF0;C SANG. 
                  .pro-prices
                    p.pro-price 1,200,000&#x20AB;
                    p.pro-price-del.text-left
                      del.compare-price 1,800,000&#x20AB;
            .col-md-3.col-sm-6.col-xs-6.pro-loop
              .product-block.product-resize
                .product-img.image-resize.view.view-third
                  .product-sale
                    span
                      label.sale-lb - 
                      |  33%
                  a(href='/products/dong-ho-nam-tevise-mat-trang-chay-co-cuc-chat', title='ĐỒNG HỒ NAM TEVISE MẶT TRẮNG CHẠY CƠ CỰC CHẤT')
                    img.first-image.has-img(alt=' ĐỒNG HỒ NAM TEVISE MẶT TRẮNG CHẠY CƠ CỰC CHẤT ', src='/images/product/1_ab30605be61d4f99bd2306a6a537cfb7_large.jpg')
                    img.second-image(src='/images/product/2_688f14ff08684d938f519838b561e591_large.jpg', alt=' ĐỒNG HỒ NAM TEVISE MẶT TRẮNG CHẠY CƠ CỰC CHẤT ')
                  .actionss
                    .btn-cart-products
                      a(href='javascript:void(0);', onclick='add_item_show_modalCart(1012006083)')
                        i.fa.fa-shopping-bag(aria-hidden='true')
                    .view-details
                      a.view-detail(href='/products/dong-ho-nam-tevise-mat-trang-chay-co-cuc-chat')
                        span
                          i.fa.fa-clone  
                    .btn-quickview-products
                      a.quickview(href='javascript:void(0);', data-handle='/products/dong-ho-nam-tevise-mat-trang-chay-co-cuc-chat')
                        i.fa.fa-eye
                .product-detail.clearfix
                  // sử dụng pull-left
                  h3.pro-name
                    a(href='/products/dong-ho-nam-tevise-mat-trang-chay-co-cuc-chat', title='ĐỒNG HỒ NAM TEVISE MẶT TRẮNG CHẠY CƠ CỰC CHẤT') &Dstrok;&#x1ED2;NG H&#x1ED2; NAM TEVISE M&#x1EB6;T TR&#x1EAE;NG CH&#x1EA0;Y C&#x1A0; C&#x1EF0;C CH&#x1EA4;T 
                  .pro-prices
                    p.pro-price 800,000&#x20AB;
                    p.pro-price-del.text-left
                      del.compare-price 1,200,000&#x20AB;
            .col-md-3.col-sm-6.col-xs-6.pro-loop
              .product-block.product-resize
                .product-img.image-resize.view.view-third
                  .product-sale
                    span
                      label.sale-lb - 
                      |  30%
                  a(href='/products/dong-ho-nu-halei-mat-trang-cuc-sang-trong', title='ĐỒNG HỒ NỮ HALEI MẶT TRẮNG CỰC SANG TRỌNG')
                    img.first-image.has-img(alt=' ĐỒNG HỒ NỮ HALEI MẶT TRẮNG CỰC SANG TRỌNG ', src='/images/product/2_7453709ca9af4307986c2baae91c627e_large.jpg')
                    img.second-image(src='/images/product/1_d7ec19b25d62457fa22b91efb86fc494_large.jpg', alt=' ĐỒNG HỒ NỮ HALEI MẶT TRẮNG CỰC SANG TRỌNG ')
                  .actionss
                    .btn-cart-products
                      a(href='javascript:void(0);', onclick='add_item_show_modalCart(1012030267)')
                        i.fa.fa-shopping-bag(aria-hidden='true')
                    .view-details
                      a.view-detail(href='/products/dong-ho-nu-halei-mat-trang-cuc-sang-trong')
                        span
                          i.fa.fa-clone  
                    .btn-quickview-products
                      a.quickview(href='javascript:void(0);', data-handle='/products/dong-ho-nu-halei-mat-trang-cuc-sang-trong')
                        i.fa.fa-eye
                .product-detail.clearfix
                  // sử dụng pull-right
                  h3.pro-name
                    a(href='/products/dong-ho-nu-halei-mat-trang-cuc-sang-trong', title='ĐỒNG HỒ NỮ HALEI MẶT TRẮNG CỰC SANG TRỌNG') &Dstrok;&#x1ED2;NG H&#x1ED2; N&#x1EEE; HALEI M&#x1EB6;T TR&#x1EAE;NG C&#x1EF0;C SANG TR&#x1ECC;NG 
                  .pro-prices
                    p.pro-price 300,000&#x20AB;
                    p.pro-price-del.text-left
                      del.compare-price 430,000&#x20AB;
            .col-md-3.col-sm-6.col-xs-6.pro-loop
              .product-block.product-resize
                .product-img.image-resize.view.view-third
                  .product-sale
                    span
                      label.sale-lb - 
                      |  35%
                  a(href='/products/dong-ho-nu-skmei-1281-day-da-mau-do-gan-da-cuc-xinh', title='Đồng hồ nữ Skmei 1281 dây da màu đỏ gắn đá cực xinh')
                    img.first-image.has-img(alt=' Đồng hồ nữ Skmei 1281 dây da màu đỏ gắn đá cực xinh ', src='/images/product/593f6b19f853ce46eeb4d29e-contest_large.jpg')
                    img.second-image(src='/images/product/593f6b19f853ce46eeb4d29e-2-contest_large.jpg', alt=' Đồng hồ nữ Skmei 1281 dây da màu đỏ gắn đá cực xinh ')
                  .actionss
                    .btn-cart-products
                      a(href='javascript:void(0);', onclick='add_item_show_modalCart(1013973209)')
                        i.fa.fa-shopping-bag(aria-hidden='true')
                    .view-details
                      a.view-detail(href='/products/dong-ho-nu-skmei-1281-day-da-mau-do-gan-da-cuc-xinh')
                        span
                          i.fa.fa-clone  
                    .btn-quickview-products
                      a.quickview(href='javascript:void(0);', data-handle='/products/dong-ho-nu-skmei-1281-day-da-mau-do-gan-da-cuc-xinh')
                        i.fa.fa-eye
                .product-detail.clearfix
                  // sử dụng pull-left
                  h3.pro-name
                    a(href='/products/dong-ho-nu-skmei-1281-day-da-mau-do-gan-da-cuc-xinh', title='Đồng hồ nữ Skmei 1281 dây da màu đỏ gắn đá cực xinh') &Dstrok;&#x1ED3;ng h&#x1ED3; n&#x1EEF; Skmei 1281 d&acirc;y da m&agrave;u &dstrok;&#x1ECF; g&#x1EAF;n &dstrok;&aacute; c&#x1EF1;c xinh 
                  .pro-prices
                    p.pro-price 350,000&#x20AB;
                    p.pro-price-del.text-left
                      del.compare-price 540,000&#x20AB;
            .col-md-3.col-sm-6.col-xs-6.pro-loop
              .product-block.product-resize
                .product-img.image-resize.view.view-third
                  .product-sale
                    span
                      label.sale-lb - 
                      |  39%
                  a(href='/products/dong-ho-skmei-day-da-cuc-men', title='ĐỒNG HỒ SKMEI DÂY DA CỰC MEN')
                    img.first-image.has-img(alt=' ĐỒNG HỒ SKMEI DÂY DA CỰC MEN ', src='/images/product/1_724cffaf3cd6490c82fc9d5feea7f60b_large.jpg')
                    img.second-image(src='/images/product/2_7fdf2cba3a9c47b086f8f314ec99382b_large.jpg', alt=' ĐỒNG HỒ SKMEI DÂY DA CỰC MEN ')
                  .actionss
                    .btn-cart-products
                      a(href='javascript:void(0);', onclick='add_item_show_modalCart(1012030908)')
                        i.fa.fa-shopping-bag(aria-hidden='true')
                    .view-details
                      a.view-detail(href='/products/dong-ho-skmei-day-da-cuc-men')
                        span
                          i.fa.fa-clone  
                    .btn-quickview-products
                      a.quickview(href='javascript:void(0);', data-handle='/products/dong-ho-skmei-day-da-cuc-men')
                        i.fa.fa-eye
                .product-detail.clearfix
                  // sử dụng pull-right
                  h3.pro-name
                    a(href='/products/dong-ho-skmei-day-da-cuc-men', title='ĐỒNG HỒ SKMEI DÂY DA CỰC MEN') &Dstrok;&#x1ED2;NG H&#x1ED2; SKMEI D&Acirc;Y DA C&#x1EF0;C MEN 
                  .pro-prices
                    p.pro-price 490,000&#x20AB;
                    p.pro-price-del.text-left
                      del.compare-price 800,000&#x20AB;
          .row
            .col-lg-12.col-sm-12.col-xs-12.pull-center.center
              a.btn.btn-readmore(href='/collections/dong-ho-chong-nuoc', role='button') Xem th&ecirc;m
        // Product loop
        .row
          .col-lg-12.col-sm-12.col-xs-12
            .animation.fade-in.home-banner-1
              aside.banner-home-1
                .divcontent
                  span.ad_banner_1
                    | Mi&#x1EC5;n ph&iacute; v&#x1EAD;n chuy&#x1EC3;n
                    strong.ad_banner_2 V&#x1EDB;i t&#x1EA5;t c&#x1EA3; &dstrok;&#x1A1;n h&agrave;ng tr&ecirc;n 500k th&agrave;nh ph&#x1ED1; H&agrave; N&#x1ED9;i
                  span.ad_banner_desc Mi&#x1EC5;n ph&iacute; 2 ng&agrave;y v&#x1EAD;n chuy&#x1EC3;n v&#x1EDB;i &dstrok;&#x1A1;n h&agrave;ng tr&ecirc;n 500k tr&#x1EEB; tr&#x1EF1;c ti&#x1EBF;p khi thanh to&aacute;n
                .divstyle(style='border-color: red;')
        .product-list.clearfix
          .row
            .col-lg-12.col-sm-12.col-xs-12
              aside.styled_header.use_icon
                //SAN-PHAM-MOI
                h3 SẢN PHẨM MỚI
                span.icon
                  img(src='/images/theme-default//icon_sale.png?v=90', alt='Newest trends')
          .row.content-product-list.products-resize
            .col-md-3.col-sm-6.col-xs-6.pro-loop
              .product-block.product-resize
                .product-img.image-resize.view.view-third
                  .product-sale
                    span
                      label.sale-lb - 
                      |  50%
                  a(href='/products/dong-ho-nam-skmei-co-lich-mo-rong', title='ĐỒNG HỒ NAM SKMEI CÓ LỊCH MỎ RỘNG')
                    img.first-image.has-img(alt=' ĐỒNG HỒ NAM SKMEI CÓ LỊCH MỎ RỘNG ', src='/images/product/1_8dc682692fec4967843d81915f827888_large.jpg')
                    img.second-image(src='/images/product/2_38d65a0a0c1a483cbeb02046b329a2ed_large.jpg', alt=' ĐỒNG HỒ NAM SKMEI CÓ LỊCH MỎ RỘNG ')
                  .actionss
                    .btn-cart-products
                      a(href='javascript:void(0);', onclick='add_item_show_modalCart(1012006226)')
                        i.fa.fa-shopping-bag(aria-hidden='true')
                    .view-details
                      a.view-detail(href='/products/dong-ho-nam-skmei-co-lich-mo-rong')
                        span
                          i.fa.fa-clone  
                    .btn-quickview-products
                      a.quickview(href='javascript:void(0);', data-handle='/products/dong-ho-nam-skmei-co-lich-mo-rong')
                        i.fa.fa-eye
                .product-detail.clearfix
                  // sử dụng pull-left
                  h3.pro-name
                    a(href='/products/dong-ho-nam-skmei-co-lich-mo-rong', title='ĐỒNG HỒ NAM SKMEI CÓ LỊCH MỎ RỘNG') &Dstrok;&#x1ED2;NG H&#x1ED2; NAM SKMEI C&Oacute; L&#x1ECA;CH M&#x1ECE; R&#x1ED8;NG 
                  .pro-prices
                    p.pro-price 350,000&#x20AB;
                    p.pro-price-del.text-left
                      del.compare-price 700,000&#x20AB;
            .col-md-3.col-sm-6.col-xs-6.pro-loop
              .product-block.product-resize
                .product-img.image-resize.view.view-third
                  .product-sale
                    span
                      label.sale-lb - 
                      |  38%
                  a(href='/products/dong-ho-nam-skmei-cuc-dep-cuc-cuon-hut', title='ĐỒNG HỒ NAM SKMEI CỰC ĐẸP CỰC CUỐN HÚT')
                    img.first-image.has-img(alt=' ĐỒNG HỒ NAM SKMEI CỰC ĐẸP CỰC CUỐN HÚT ', src='/images/product/1_96f3e1495bac48dd831ec86597085a04_large.jpg')
                    img.second-image(src='/images/product/2_0692671689314bd8aeeaf160563abacd_large.jpg', alt=' ĐỒNG HỒ NAM SKMEI CỰC ĐẸP CỰC CUỐN HÚT ')
                  .actionss
                    .btn-cart-products
                      a(href='javascript:void(0);', onclick='add_item_show_modalCart(1012030840)')
                        i.fa.fa-shopping-bag(aria-hidden='true')
                    .view-details
                      a.view-detail(href='/products/dong-ho-nam-skmei-cuc-dep-cuc-cuon-hut')
                        span
                          i.fa.fa-clone  
                    .btn-quickview-products
                      a.quickview(href='javascript:void(0);', data-handle='/products/dong-ho-nam-skmei-cuc-dep-cuc-cuon-hut')
                        i.fa.fa-eye
                .product-detail.clearfix
                  // sử dụng pull-right
                  h3.pro-name
                    a(href='/products/dong-ho-nam-skmei-cuc-dep-cuc-cuon-hut', title='ĐỒNG HỒ NAM SKMEI CỰC ĐẸP CỰC CUỐN HÚT') &Dstrok;&#x1ED2;NG H&#x1ED2; NAM SKMEI C&#x1EF0;C &Dstrok;&#x1EB8;P C&#x1EF0;C CU&#x1ED0;N H&Uacute;T 
                  .pro-prices
                    p.pro-price 500,000&#x20AB;
                    p.pro-price-del.text-left
                      del.compare-price 800,000&#x20AB;
            .col-md-3.col-sm-6.col-xs-6.pro-loop
              .product-block.product-resize
                .product-img.image-resize.view.view-third
                  .product-sale
                    span
                      label.sale-lb - 
                      |  35%
                  a(href='/products/dong-ho-nu-beesister-mat-dinh-da-cuc-sang', title='ĐỒNG HỒ NỮ BEESISTER MẶT ĐÍNH ĐÁ CỨC SANG')
                    img.first-image.has-img(alt=' ĐỒNG HỒ NỮ BEESISTER MẶT ĐÍNH ĐÁ CỨC SANG ', src='/images/product/1_e7ec8d67eafb460db8865a5747c89a24_large.jpg')
                    img.second-image(src='/images/product/2_8e8c976ba38243b098a8b827273cb5bc_large.jpg', alt=' ĐỒNG HỒ NỮ BEESISTER MẶT ĐÍNH ĐÁ CỨC SANG ')
                  .actionss
                    .btn-cart-products
                      a(href='javascript:void(0);', onclick='add_item_show_modalCart(1012006306)')
                        i.fa.fa-shopping-bag(aria-hidden='true')
                    .view-details
                      a.view-detail(href='/products/dong-ho-nu-beesister-mat-dinh-da-cuc-sang')
                        span
                          i.fa.fa-clone  
                    .btn-quickview-products
                      a.quickview(href='javascript:void(0);', data-handle='/products/dong-ho-nu-beesister-mat-dinh-da-cuc-sang')
                        i.fa.fa-eye
                .product-detail.clearfix
                  // sử dụng pull-left
                  h3.pro-name
                    a(href='/products/dong-ho-nu-beesister-mat-dinh-da-cuc-sang', title='ĐỒNG HỒ NỮ BEESISTER MẶT ĐÍNH ĐÁ CỨC SANG') &Dstrok;&#x1ED2;NG H&#x1ED2; N&#x1EEE; BEESISTER M&#x1EB6;T &Dstrok;&Iacute;NH &Dstrok;&Aacute; C&#x1EE8;C SANG 
                  .pro-prices
                    p.pro-price 390,000&#x20AB;
                    p.pro-price-del.text-left
                      del.compare-price 600,000&#x20AB;
            .col-md-3.col-sm-6.col-xs-6.pro-loop
              .product-block.product-resize
                .product-img.image-resize.view.view-third
                  .product-sale
                    span
                      label.sale-lb - 
                      |  35%
                  a(href='/products/dong-ho-nu-beesister-mau-vang-mat-tron-cuc-sang', title='ĐỒNG HỒ NỮ BEESISTER MÀU VÀNG MẶT TRÒN CỰC SANG')
                    img.first-image.has-img(alt=' ĐỒNG HỒ NỮ BEESISTER MÀU VÀNG MẶT TRÒN CỰC SANG ', src='/images/product/6_f20ebeefb7744b3e959e44c455b9387a_large.jpg')
                    img.second-image(src='/images/product/7_88220065b60b45c29c0aa3ca9f76c6c4_large.jpg', alt=' ĐỒNG HỒ NỮ BEESISTER MÀU VÀNG MẶT TRÒN CỰC SANG ')
                  .actionss
                    .btn-cart-products
                      a(href='javascript:void(0);', onclick='add_item_show_modalCart(1012006440)')
                        i.fa.fa-shopping-bag(aria-hidden='true')
                    .view-details
                      a.view-detail(href='/products/dong-ho-nu-beesister-mau-vang-mat-tron-cuc-sang')
                        span
                          i.fa.fa-clone  
                    .btn-quickview-products
                      a.quickview(href='javascript:void(0);', data-handle='/products/dong-ho-nu-beesister-mau-vang-mat-tron-cuc-sang')
                        i.fa.fa-eye
                .product-detail.clearfix
                  // sử dụng pull-right
                  h3.pro-name
                    a(href='/products/dong-ho-nu-beesister-mau-vang-mat-tron-cuc-sang', title='ĐỒNG HỒ NỮ BEESISTER MÀU VÀNG MẶT TRÒN CỰC SANG') &Dstrok;&#x1ED2;NG H&#x1ED2; N&#x1EEE; BEESISTER M&Agrave;U V&Agrave;NG M&#x1EB6;T TR&Ograve;N C&#x1EF0;C SANG 
                  .pro-prices
                    p.pro-price 390,000&#x20AB;
                    p.pro-price-del.text-left
                      del.compare-price 600,000&#x20AB;
            .col-md-3.col-sm-6.col-xs-6.pro-loop
              .product-block.product-resize
                .product-img.image-resize.view.view-third
                  .product-sale
                    span
                      label.sale-lb - 
                      |  35%
                  a(href='/products/dong-ho-nu-bs-mat-chu-nhat-gan-da-cuc-chat', title='ĐỒNG HỒ NỮ BS MẶT CHỮ NHẬT GẮN ĐÁ CỰC CHẤT')
                    img.first-image.has-img(alt=' ĐỒNG HỒ NỮ BS MẶT CHỮ NHẬT GẮN ĐÁ CỰC CHẤT ', src='/images/product/4_1f54cfe4261847f5806805b49ff2c0a3_large.jpg')
                    img.second-image(src='/images/product/4_1f54cfe4261847f5806805b49ff2c0a3_large.jpg', alt=' ĐỒNG HỒ NỮ BS MẶT CHỮ NHẬT GẮN ĐÁ CỰC CHẤT ')
                  .actionss
                    .btn-cart-products
                      a(href='javascript:void(0);', onclick='add_item_show_modalCart(1012006312)')
                        i.fa.fa-shopping-bag(aria-hidden='true')
                    .view-details
                      a.view-detail(href='/products/dong-ho-nu-bs-mat-chu-nhat-gan-da-cuc-chat')
                        span
                          i.fa.fa-clone  
                    .btn-quickview-products
                      a.quickview(href='javascript:void(0);', data-handle='/products/dong-ho-nu-bs-mat-chu-nhat-gan-da-cuc-chat')
                        i.fa.fa-eye
                .product-detail.clearfix
                  // sử dụng pull-left
                  h3.pro-name
                    a(href='/products/dong-ho-nu-bs-mat-chu-nhat-gan-da-cuc-chat', title='ĐỒNG HỒ NỮ BS MẶT CHỮ NHẬT GẮN ĐÁ CỰC CHẤT') &Dstrok;&#x1ED2;NG H&#x1ED2; N&#x1EEE; BS M&#x1EB6;T CH&#x1EEE; NH&#x1EAC;T G&#x1EAE;N &Dstrok;&Aacute; C&#x1EF0;C CH&#x1EA4;T 
                  .pro-prices
                    p.pro-price 390,000&#x20AB;
                    p.pro-price-del.text-left
                      del.compare-price 600,000&#x20AB;
            .col-md-3.col-sm-6.col-xs-6.pro-loop
              .product-block.product-resize
                .product-img.image-resize.view.view-third
                  .product-sale
                    span
                      label.sale-lb - 
                      |  30%
                  a(href='/products/dong-ho-nu-halei-mat-trang-cuc-sang-trong', title='ĐỒNG HỒ NỮ HALEI MẶT TRẮNG CỰC SANG TRỌNG')
                    img.first-image.has-img(alt=' ĐỒNG HỒ NỮ HALEI MẶT TRẮNG CỰC SANG TRỌNG ', src='/images/product/2_7453709ca9af4307986c2baae91c627e_large.jpg')
                    img.second-image(src='/images/product/1_d7ec19b25d62457fa22b91efb86fc494_large.jpg', alt=' ĐỒNG HỒ NỮ HALEI MẶT TRẮNG CỰC SANG TRỌNG ')
                  .actionss
                    .btn-cart-products
                      a(href='javascript:void(0);', onclick='add_item_show_modalCart(1012030267)')
                        i.fa.fa-shopping-bag(aria-hidden='true')
                    .view-details
                      a.view-detail(href='/products/dong-ho-nu-halei-mat-trang-cuc-sang-trong')
                        span
                          i.fa.fa-clone  
                    .btn-quickview-products
                      a.quickview(href='javascript:void(0);', data-handle='/products/dong-ho-nu-halei-mat-trang-cuc-sang-trong')
                        i.fa.fa-eye
                .product-detail.clearfix
                  // sử dụng pull-right
                  h3.pro-name
                    a(href='/products/dong-ho-nu-halei-mat-trang-cuc-sang-trong', title='ĐỒNG HỒ NỮ HALEI MẶT TRẮNG CỰC SANG TRỌNG') &Dstrok;&#x1ED2;NG H&#x1ED2; N&#x1EEE; HALEI M&#x1EB6;T TR&#x1EAE;NG C&#x1EF0;C SANG TR&#x1ECC;NG 
                  .pro-prices
                    p.pro-price 300,000&#x20AB;
                    p.pro-price-del.text-left
                      del.compare-price 430,000&#x20AB;
            .col-md-3.col-sm-6.col-xs-6.pro-loop
              .product-block.product-resize
                .product-img.image-resize.view.view-third
                  .product-sale
                    span
                      label.sale-lb - 
                      |  35%
                  a(href='/products/dong-ho-nu-skmei-1281-day-da-mau-do-gan-da-cuc-xinh', title='Đồng hồ nữ Skmei 1281 dây da màu đỏ gắn đá cực xinh')
                    img.first-image.has-img(alt=' Đồng hồ nữ Skmei 1281 dây da màu đỏ gắn đá cực xinh ', src='/images/product/593f6b19f853ce46eeb4d29e-contest_large.jpg')
                    img.second-image(src='/images/product/593f6b19f853ce46eeb4d29e-2-contest_large.jpg', alt=' Đồng hồ nữ Skmei 1281 dây da màu đỏ gắn đá cực xinh ')
                  .actionss
                    .btn-cart-products
                      a(href='javascript:void(0);', onclick='add_item_show_modalCart(1013973209)')
                        i.fa.fa-shopping-bag(aria-hidden='true')
                    .view-details
                      a.view-detail(href='/products/dong-ho-nu-skmei-1281-day-da-mau-do-gan-da-cuc-xinh')
                        span
                          i.fa.fa-clone  
                    .btn-quickview-products
                      a.quickview(href='javascript:void(0);', data-handle='/products/dong-ho-nu-skmei-1281-day-da-mau-do-gan-da-cuc-xinh')
                        i.fa.fa-eye
                .product-detail.clearfix
                  // sử dụng pull-left
                  h3.pro-name
                    a(href='/products/dong-ho-nu-skmei-1281-day-da-mau-do-gan-da-cuc-xinh', title='Đồng hồ nữ Skmei 1281 dây da màu đỏ gắn đá cực xinh') &Dstrok;&#x1ED3;ng h&#x1ED3; n&#x1EEF; Skmei 1281 d&acirc;y da m&agrave;u &dstrok;&#x1ECF; g&#x1EAF;n &dstrok;&aacute; c&#x1EF1;c xinh 
                  .pro-prices
                    p.pro-price 350,000&#x20AB;
                    p.pro-price-del.text-left
                      del.compare-price 540,000&#x20AB;
            .col-md-3.col-sm-6.col-xs-6.pro-loop
              .product-block.product-resize
                .product-img.image-resize.view.view-third
                  .product-sale
                    span
                      label.sale-lb - 
                      |  50%
                  a(href='/products/dong-ho-skmei-day-da-mau-dh01-2', title='ĐỒNG HỒ SKMEI DÂY DA MẪU DH03 CHẠY FULL KIM')
                    img.first-image.has-img(alt=' ĐỒNG HỒ SKMEI DÂY DA MẪU DH03 CHẠY FULL KIM ', src='/images/product/1_cfd2a2d52eb44e74b0ad5da426f861a7_large.jpg')
                    img.second-image(src='/images/product/2_78b0f26f2bca4105b2b1cc08f29414e0_large.jpg', alt=' ĐỒNG HỒ SKMEI DÂY DA MẪU DH03 CHẠY FULL KIM ')
                  .actionss
                    .btn-cart-products
                      a(href='javascript:void(0);', onclick='add_item_show_modalCart(1012031062)')
                        i.fa.fa-shopping-bag(aria-hidden='true')
                    .view-details
                      a.view-detail(href='/products/dong-ho-skmei-day-da-mau-dh01-2')
                        span
                          i.fa.fa-clone  
                    .btn-quickview-products
                      a.quickview(href='javascript:void(0);', data-handle='/products/dong-ho-skmei-day-da-mau-dh01-2')
                        i.fa.fa-eye
                .product-detail.clearfix
                  // sử dụng pull-right
                  h3.pro-name
                    a(href='/products/dong-ho-skmei-day-da-mau-dh01-2', title='ĐỒNG HỒ SKMEI DÂY DA MẪU DH03 CHẠY FULL KIM') &Dstrok;&#x1ED2;NG H&#x1ED2; SKMEI D&Acirc;Y DA M&#x1EAA;U DH03 CH&#x1EA0;Y FULL KIM 
                  .pro-prices
                    p.pro-price 500,000&#x20AB;
                    p.pro-price-del.text-left
                      del.compare-price 1,000,000&#x20AB;
          .row
            .col-lg-12.pull-center.center
              a.btn.btn-readmore(href='/collections/dong-ho-cao-cap', role='button') Xem th&ecirc;m
        .banner-bottom
          .row
            .col-xs-12.col-sm-6.home-category-item-2
              .block-home-category
                a(href='http://happylive.vn/collections/dong-ho-nam')
                  img.b-lazy.b-loaded(src='/images/theme-default/block_home_category1.jpg?v=90', alt='nam')
            .col-xs-12.col-sm-6.home-category-item-3
              .block-home-category
                a(href='http://happylive.vn/collections/dong-ho-nu')
                  img.b-lazy.b-loaded(src='/images/theme-default/block_home_category2.jpg?v=90', alt='nữ')
      // end Content


